
  <div class = 'container' ng-controller = "fourierController">
    <label><input type = 'text' class="form-control" placeholder="Function" ng-model = "graphParameters.expression">Function</label>
    <label><input type = 'text' class="form-control" placeholder="Sampling rate" ng-model = "graphParameters.N">Sampling rate</label>
    <label><input type = 'text' class="form-control" placeholder="Min X" ng-model = "graphParameters.left">Min X</label>
    <label><input type = 'text' class="form-control" placeholder="Max X" ng-model = "graphParameters.right">Max X</label>

    <ul id = "tabs" class="nav nav-tabs" role="tablist">
      <li role="presentation" ng-class = "{active : app.checkState('fn')}"><a role="tab" data-toggle="tab" ng-click = "drawFunction()">Function</a></li>
      <li role="presentation" ng-class = "{active : app.checkState('dftamp')}"><a role="tab" data-toggle="tab" ng-click = "fourier(graphParameters.expression, 'dft', 'amp')">DFT-Amp</a></li>
      <li role="presentation" ng-class = "{active : app.checkState('dftphase')}"><a role="tab" data-toggle="tab" ng-click = "fourier(graphParameters.expression, 'dft', 'phase')">DFT-Phase</a></li>
      <li role="presentation" ng-class = "{active : app.checkState('fftamp')}"><a role="tab" data-toggle="tab"  ng-click = "fourier(graphParameters.expression, 'fft', 'amp')">FFT-Amp</a></li>
      <li role="presentation" ng-class = "{active : app.checkState('fftphase')}"><a role="tab" data-toggle="tab"  ng-click = "fourier(graphParameters.expression, 'fft', 'phase')">FFT-Phase</a></li>
      <li role="presentation" ng-class = "{active : app.checkState('ift')}"><a role="tab" data-toggle="tab" ng-click = "inverseFourier()">IDFT</a></li>
    </ul>

    <p class = 'iterations'>Iterations: {{iterations}}</p>
  </div>